.button-container {
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 0 10px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    border: none;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(42, 9, 161);
  }
  
  /* Classes específicas para cada marca */
  .Ferrari {
    background-color: rgb(67, 108, 197);
  }
  
  .imgferrarii{
    width: 160px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 375px;
  }
  
  .Lamborghini {
    background-color: rgb(67, 108, 197);
  }
  
  .imglamborghini{
    width: 160px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 375px;
  }
  
  .Bugatti {
    background-color:rgb(67, 108, 197);
  }
  
  .imgbugatti{
    width: 160px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 375px;
  }
  
  .McLaren {
    background-color: rgb(67, 108, 197);
  }
  
  .imgmclaren{
    width: 160px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 375px;
  }
  
  .AstonMartin {
    background-color: rgb(67, 108, 197);
  }
  
  .imgastonmartin{
    width: 160px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 375px;
  }
  
  .Porsche {
    background-color: rgb(67, 108, 197);
  }
  
  .imgporsche{
    width: 160px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 375px;
  }
  
  .Koenigsegg {
    background-color: rgb(67, 108, 197);
  }
  
  .imgkoenigsegg{
    width: 85px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 410px;
  }
  
  .Pagani {
    background-color:rgb(67, 108, 197);
  }
  
  .imgpagani{
    width: 160px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 375px;
  }
  
  .Maserati {
    background-color: rgb(67, 108, 197);
    color: white;
  }
  
  .imgmaserati{
    width: 160px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 375px;
  }
  
  .Bentleyy {
    background-color:rgb(67, 108, 197);
    color: white;
  }
  
  .imgbentleyy{
    width: 160px;
    background-position: center;
    position: relative;
    top: 1px;
    left: 375px;
  }
  
  .botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }

  